.titulo {
    padding-top: 1%;
    text-align: center;
}

.subtitulos {
    padding-top: 1%;
}

.subtitulos_espacios {
    margin-left: 5px;
    color: #333;
}

.responsivo_scroll {
    overflow: auto;
}

.subtitulo_a_la_izquierda {
    float: left;
}

.subtitulo_a_la_derecha {
    float: right;
}

.tarjeta_titulos {
    /* margin-top: 1%;*/
    margin-bottom: 1%;
    text-align: center;
    border-radius: 3px;
    background-color: #abc123 !important;
    color: #fff;
}

.espacio_top_task {
    padding-top: 30px;
}

.espacio_card_top {
    margin-top: 6px !important;
}

.input_centrados {
    text-align: center;
    margin-top: 3px;
}

.boton_a_la_derecha {
    float: right;
}

.color_tab {
    background: linear-gradient(60deg, #008cd4, #006ea6) !important;
}

.contenedorCardViewMedicion {
    overflow: auto;
    padding-bottom: 6px;
}

.ir-arriba {
    display: block;
    padding: 20px;
    background: #e6e6e69e;
    font-size: 20px;
    color: #5f5f5f;
    cursor: pointer;
    position: fixed;
    bottom: 34%;
    right: 43%;
}

.togglebutton label input[type=checkbox]:checked+.toggle {
    background-color: rgb(132 132 132) !important;
}